---
layout: default
title: Daniel Smilkov, Homepage
---

<div id="home" class="text-gray-800 text-base">
  <div class="mainitem relative flex items-start">
    <div class="hidden lg:block uppercase tracking-wide font-light pt-2 text-xl w-52 flex-shrink-0 sticky top-0">About</div>
    <div>
      Hi there! I'm a member of the <a href="https://research.google/teams/brain/pair/">PAIR team</a>, part of <a
        href="https://research.google/teams/brain/">Google Brain</a>, working on the intersection of machine
      learning and visualization.
      I got my masters at the <a href="http://media.mit.edu">MIT Media Lab</a>, advised by <a
        href="http://chidalgo.com">Cesar Hidalgo</a>.
      <p class="mt-4">The work shown below was in collaboration with many talented people from teams inside and
        outside Google.</p>
    </div>
  </div>

  {% for area in site.data.projects %}
    <div class="mainitem relative flex items-start">
      <div class="hidden lg:block uppercase tracking-wide font-light pt-2 text-xl w-52 flex-shrink-0 sticky top-0">{{ area.area }}</div>
      <div>
        {% for project in area.projects %}
          <div class="mb-12">
            <div>
              <a href="{{ project.link }}"><img class="project-image rounded-xl border border-gray-300" src="{{ project.image }}"></a>
            </div>
            <div class="mt-2">
              <span class="font-bold text-gray-500 tracking-wide uppercase">{{ project.name }}</span>
              <span>{{ project.description }}</span>
            </div>
          </div>          
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  <!-- <div class="mainitem">
  	<div class="title">Blog</div>
  	<div class="text">
  		<ul class="posts">
	    	{% for post in site.posts %}
	      		<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
	    	{% endfor %}
	  	</ul>
  	</div>
  </div> -->
  <!-- <div class="mainitem">
  	<div class="title">CV</div>
  	<div class="text">
  		You can download my cv <a href="/static/cv-daniel-smilkov.pdf">here</a>. For list of publications you can visit my <a href="http://scholar.google.com/citations?user=Ei7OL8IAAAAJ&hl=en">Google Scholar</a> profile.
  	</div>
  </div> -->
  <!-- <div class="title">Projects</div>
  <div class="title">Publications</div>
  <div class="title">Blog posts</div>
   -->
</div>