body {
  font-family: 'Merriweather', serif;
}

a {
  color: #326891;
}

.project-image {
  transition: filter 0.2s;
}
.project-image:hover {
  filter: invert(10%);
}

#footer {
  padding-bottom: 10px;
  border-top: 1px solid #555;
  margin-top: 35px;
  font-size: 13px;
  color: #555;
}

.text {
  line-height: 1.44em;
  margin-left: 140px;
  text-align:justify;
}